{{page-title "MarkManagement"}}

{{!-- <form method='post' action='localhost:8080/MarkManagement/j_security_check;jsessionid=25188D9FECD8A73EDB5D0240A2C479F7'><br><br><br><br> --}}
		<center>
			<input class='textBox' type="text" name="j_username" placeholder="Log-in name"><br><br>
			<input class='textBox' type="password" name="j_password" placeholder="Password"><br><br>
			<button type="button" {{action 'logIn'}}>Log in</button>
		</center>
    {{!-- </form> --}}

    {{!-- <button type="button" {{action 'getData'}}>Get data</button> --}}